<div *ngIf='LexisNexisData'>
    <h1>Provider information:</h1>
    <h2>Golden Record</h2>
    <table  *ngFor='let lexis of LexisNexisData'>
        <tr>
            <th>BusinessKey</th>
            <th>provid</th>
            <th>EchoDrid</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MiddleName</th>
            <th>ProviderFullName</th>
            <th>Provtype</th>
            <th>ProviderTypeDesc</th>
            <th>Claimtype</th>
            <th>Obs_claimtype</th>
            <th>LicenseNumber</th>
            <th>DOB</th>
            <th>SSN</th>
            <th>NPI</th>
            <th>EmploymentCode</th>
            <th>Specialtycode</th>
            <th>SpecialtyDescription</th>
            <th>Profdesig</th>
            <th>PracAddressType</th>
            <th>PracAddressTypeDesc</th>
            <th>Addr</th>
            <th>Addr2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>EffDate</th>
            <th>TermDate</th>
            <th>BillAddressType</th>
            <th>BillAddressTypeDesc</th>
            <th>BillAddr</th>
            <th>Billaddr2</th>
            <th>BillCity</th>
            <th>Billstate</th>
            <th>Billzip</th>
            <th>Billphone</th>
            <th>Billfax</th>
            <th>BillEffdate</th>
            <th>BillTermdate</th>
            <th>TaxID</th>
            <th>QNXTID</th>
            <th>Source</th>
            <th>echoid</th>
            <th>status</th>
            <th>EchoIPAStatusCode</th>
            <th>EchoIPAStatusDescr</th>
            <th>EchoHospStatusCode</th>
            <th>EchoHOSPStatusDescr</th>
            <th>Echo_ACO_Active</th>
            <th>EchoIPAStatus</th>
            <th>EchoHOSPStatus</th>
            <th>Level1</th>
            <th>Level2</th>
            <th>Level3</th>
            <th>Email</th>
            <th>TaxonomyCode</th>
            <th>spectype</th>
            <th>OrgName</th>
            
        </tr>
        <tr>
            <th>{{lexis.BusinessKey}}</th>
            <th>{{lexis.provid}}</th>
            <th>{{lexis.EchoDrid}}</th>
            <th>{{lexis.FirstName}}</th>
            <th>{{lexis.LastName}}</th>
            <th>{{lexis.MiddleName}}</th>
            <th>{{lexis.ProviderFullName}}</th>
            <th>{{lexis.Provtype}}</th>
            <th>{{lexis.ProviderTypeDesc}}</th>
            <th>{{lexis.Claimtype}}</th>
            <th>{{lexis.Obs_claimtype}}</th>
            <th>{{lexis.LicenseNumber}}</th>
            <th>{{lexis.DOB}}</th>
            <th>{{lexis.SSN}}</th>
            <th>{{lexis.NPI}}</th>
            <th>{{lexis.EmploymentCode}}</th>
            <th>{{lexis.Specialtycode}}</th>
            <th>{{lexis.SpecialtyDescription}}</th>
            <th>{{lexis.Profdesig}}</th>
            <th>{{lexis.PracAddressType}}</th>
            <th>{{lexis.PracAddressTypeDesc}}</th>
            <th>{{lexis.Addr}}</th>
            <th>{{lexis.Addr2}}</th>
            <th>{{lexis.City}}</th>
            <th>{{lexis.State}}</th>
            <th>{{lexis.Zip}}</th>
            <th>{{lexis.Phone}}</th>
            <th>{{lexis.Fax}}</th>
            <th>{{lexis.EffDate}}</th>
            <th>{{lexis.TermDate}}</th>
            <th>{{lexis.BillAddressType}}</th>
            <th>{{lexis.BillAddressTypeDesc}}</th>
            <th>{{lexis.BillAddr}}</th>
            <th>{{lexis.Billaddr2}}</th>
            <th>{{lexis.BillCity}}</th>
            <th>{{lexis.Billstate}}</th>
            <th>{{lexis.Billzip}}</th>
            <th>{{lexis.Billphone}}</th>
            <th>{{lexis.Billfax}}</th>
            <th>{{lexis.BillEffdate}}</th>
            <th>{{lexis.BillTermdate}}</th>
            <th>{{lexis.TaxID}}</th>
            <th>{{lexis.QNXTID}}</th>
            <th>{{lexis.Source}}</th>
            <th>{{lexis.echoid}}</th>
            <th>{{lexis.status}}</th>
            <th>{{lexis.EchoIPAStatusCode}}</th>
            <th>{{lexis.EchoIPAStatusDescr}}</th>
            <th>{{lexis.EchoHospStatusCode}}</th>
            <th>{{lexis.EchoHOSPStatusDescr}}</th>
            <th>{{lexis.Echo_ACO_Active}}</th>
            <th>{{lexis.EchoIPAStatus}}</th>
            <th>{{lexis.EchoHOSPStatus}}</th>
            <th>{{lexis.Level1}}</th>
            <th>{{lexis.Level2}}</th>
            <th>{{lexis.Level3}}</th>
            <th>{{lexis.Email}}</th>
            <th>{{lexis.TaxonomyCode}}</th>
            <th>{{lexis.spectype}}</th>
            <th>{{lexis.OrgName}}</th>
        </tr>
        <tr>
            <td>Reference Source</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<button [ngClass]="{'hide':LexisNexisData==null||LexisNexisData.length==0 }" (click)="edit()" >Edit</button>
<div [ngClass]="{'hide':!(LexisNexisData!=null&&LexisNexisData.length==0)}">No Search Result</div>
<div [ngClass]="{'hide':LexisNexisData!=null}">Loading</div>
