<h1>Provider information:</h1>
<h2>Golden Record</h2>
<table>
  <tr>
    <th class="dropdown">
      Data Type
    </th>
    <th class="dropdown">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Last Name
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
    <th class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Middle Name
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
    <th class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        First Name
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
    <th class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        NPI
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
    <th class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        DOB
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
    <th class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Billing Address
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
    <th class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Specialty
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
    <th class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Zip Code
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Echo</label>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">QNXT</label>
          </div>
        </a>
      </div>
    </th>
  </tr>
  <tr>
    <td>Golden Record</td>
    <td><input class='borderless'[formControl]="LastName">
      

        <div *ngIf="LastName.invalid && LastName.errors.required" class="alert alert-danger">
          Name is required.
        </div>
        <div *ngIf="LastName.invalid && LastName.errors.pattern" class="alert alert-danger">
          Name must be a string.
        </div>
      
    </td>
    <td><input class='borderless' [formControl]="MiddleName"></td>
    <td><input class='borderless' [formControl]="FirstName"></td>
    <td><input class='borderless' [formControl]="NPI"></td>
    <td><input class='borderless' [formControl]="DOB"></td>
    <td><input class='borderless' [formControl]="BillingAddress"></td>
    <td><input class='borderless' [formControl]="Specialty"></td>
    <td><input class='borderless' [formControl]="ZipCode">
      <div *ngIf="ZipCode.invalid && (ZipCode.dirty || ZipCode.touched)" class="alert alert-danger">

        <div *ngIf="ZipCode.errors.required">
          Name is required.
        </div>
        <div *ngIf="ZipCode.errors.pattern">
          Name must be a number.
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Reference Source</td>
    <td><input class="borderless" [formControl]="LastNameSource"></td>
    <td><input class="borderless" [formControl]="MiddleNameSource"></td>
    <td><input class="borderless" [formControl]="FirstNameSource"></td>
    <td><input class="borderless" [formControl]="NPISource"></td>
    <td><input class="borderless" [formControl]="DOBSource"></td>
    <td><input class="borderless" [formControl]="BillingAddressSource"></td>
    <td><input class="borderless" [formControl]="SpecialtySource"></td>
    <td><input class="borderless" [formControl]="ZipCodeSource"></td>
  </tr>
</table>
<button class="save"
  [disabled]="FirstName.invalid || LastName.invalid ||  NPI.invalid || DOB.invalid || BillingAddress.invalid || Specialty.invalid || ZipCode.invalid ">Save</button>
<h2>Source Data</h2>
<table>
  <tr>
    <th>Source</th>
    <th>Last Name</th>
    <th>Middle Name</th>
    <th>First Name</th>
    <th>NPI</th>
    <th>DOB</th>
    <th>Billing Address</th>
    <th>Specialty</th>
    <th>Zip Code</th>
  </tr>
  <tr>
    <td>
      <div class='source' *ngFor='let NL of LexisNexisData'>{{NL.Source}}

      </div>
      <div class='source' *ngFor='let Provider of SourceProviderData'>{{Provider.Source}}

      </div>

    </td>
    <td>
      <mat-radio-group [(ngModel)]="NLLastName" >
        <mat-radio-button *ngFor='let NL of LexisNexisData' [value]='NL.LastName'
        (click)=updateLastName(NL.LastName,NL.Source)>{{NL.LastName}}</mat-radio-button>
        <mat-radio-button *ngFor='let Provider of SourceProviderData' 
        (click)=updateLastName(Provider.LastName,Provider.Source)>{{Provider.LastName}}</mat-radio-button>
      </mat-radio-group>
    </td>
    <td>
      <mat-radio-group [(ngModel)]="NLMiddleName">
        
        <mat-radio-button *ngFor='let NL of LexisNexisData' [value]='NL.MiddleName'
        (click)=updateMiddleName(NL.MiddleName,NL.Source)>{{NL.MiddleName}}</mat-radio-button>
          <mat-radio-button *ngFor='let Provider of SourceProviderData' (click)=updateMiddleName(Provider.MiddleName,Provider.Source)>
            {{Provider.MiddleName}}</mat-radio-button>
          </mat-radio-group>

        
      
    </td>
    <td>
      <mat-radio-group [(ngModel)]="NLFirstName">
          <mat-radio-button *ngFor='let NL of LexisNexisData' [value]='NL.FirstName'
          (click)=updateFirstName(NL.FirstName,NL.Source)>{{NL.FirstName}}</mat-radio-button>
        <mat-radio-button *ngFor='let Provider of SourceProviderData' (click)=updateFirstName(Provider.FirstName,Provider.Source) >
          {{Provider.FirstName}}</mat-radio-button>
        </mat-radio-group>
    </td>
    <td>
      <mat-radio-group [(ngModel)]="NLNPI">
          <mat-radio-button *ngFor='let NL of LexisNexisData' [value]='NL.NPI'
          (click)=updateNPI(NL.NPI,NL.Source)>{{NL.NPI}}</mat-radio-button>
        <mat-radio-button *ngFor='let Provider of SourceProviderData' (click)=updateNPI(Provider.NPI,Provider.Source)>{{Provider.NPI}}
        </mat-radio-button>
      </mat-radio-group>
    </td>
    <td>
      <mat-radio-group [(ngModel)]="NLDOB">
          <mat-radio-button *ngFor='let NL of LexisNexisData' [value]='NL.DOB'
          (click)=updateDOB(NL.DOB,NL.Source)>{{NL.DOB}}</mat-radio-button>
        <mat-radio-button *ngFor='let Provider of SourceProviderData' (click)=updateDOB(Provider.DOB,Provider.Source)>{{Provider.DOB}}
        </mat-radio-button>
      </mat-radio-group>
    </td>
    <td>
      <mat-radio-group [(ngModel)]="NLBillingAddress">
          <mat-radio-button *ngFor='let NL of LexisNexisData'  [value]='NL.BillingAddress'
          (click)=updateBillingAddress(NL.BillingAddress,NL.Source)>{{NL.BillingAddress}}</mat-radio-button>
        <mat-radio-button *ngFor='let Provider of SourceProviderData' (click)=updateBillingAddress(Provider.BillingAddress,Provider.Source)>
          {{Provider.BillingAddress}}</mat-radio-button>
        </mat-radio-group>
    </td>
    <td>
      <div class="special">
        <mat-radio-group [(ngModel)]="NLSpecialty">
            <mat-radio-button *ngFor='let NL of LexisNexisData'  [value]='NL.Specialty'
            (click)=updateSpecialty(NL.Specialty,NL.Source)>{{NL.Specialty}}</mat-radio-button>
          <mat-radio-button *ngFor='let Provider of SourceProviderData' (click)=updateSpecialty(Provider.Specialty,Provider.Source)>
            {{Provider.Specialty}}</mat-radio-button>
          </mat-radio-group>
      </div>
    </td>
    <td>
      <mat-radio-group [(ngModel)]="NLZipCode">
          <mat-radio-button *ngFor='let NL of LexisNexisData'  [value]='NL.ZipCode'
          (click)=updateZipCode(NL.ZipCode,NL.Source)>{{NL.ZipCode}}</mat-radio-button>
        <mat-radio-button *ngFor='let Provider of SourceProviderData' (click)=updateZipCode(Provider.ZipCode,Provider.Source)>{{Provider.ZipCode}}
        </mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
</table>